@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Primary colors */
:root {
  --intro-and-email-sign-up-background:hsl(217, 28%, 15%);
  --main-background:hsl(218, 28%, 13%);
  --footer-background: hsl(216, 53%, 9%);
  --testimonials-background: hsl(219, 30%, 18%);
  --White:hsl(0, 0%, 100%);
  --Cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
  --Blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
  --Light-Red-error: hsl(0, 100%, 63%);

}
/* Primary colors */

/* Global */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Global */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--main-background);
}
.container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}
header {
  width: 100%;
  padding: 40px 30px;
  background: var(--intro-and-email-sign-up-background);

}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .logo img {
  width: 70%;
  user-select: none;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  color: var(--White);
  padding: 10px;
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
}
.intro {
  background: var(--intro-and-email-sign-up-background);
  background-image: url("./images/bg-curvy-desktop.svg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-bottom: 100px;
}
.intro-content {
  width: 100%;
  margin: auto;
}
.intro .intro-img {
  width: 100%;
}
.intro .intro-img img {
  width: 40%;
  user-select: none;
}
.intro .intro-content-title {
  text-transform: capitalize;
  color: var(--White);
  font-size: 2rem;
  padding: 30px 0;
}
.intro p {
  color: var(--White);
  padding-bottom: 30px;
}
.btn {
  width: 200px;
  height: 50px;
  color: var(--White);
  outline: none;
  border: none;
  text-transform: capitalize;
  text-align: center;
  font-size: 1rem;
  background: var(--Blue-inside-call-to-action-gradient);
  cursor: pointer;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.features {
  width: 100%;
  background: var(--main-background);
  padding-bottom: 100px;
}
.features-content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  gap: 30px;
  text-align: center;
}
.feature {
  width: 50%;
  text-transform: capitalize;
  padding: 15px;
}
.feature h3 {
  color: var(--White);
  padding: 20px 0;
}
.feature p {
  color: #e8e8e8;
}



/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */





@media screen  and (max-width:768px) {
  .intro .intro-img img {
    width: 80%;
    user-select: none;
  }
  .features-content {
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
  }
  .feature {
    width: 90%;
    text-transform: capitalize;
  }
}
@media screen  and (max-width:480px) {
  header {
    padding: 20px 0px;
  }
  header .logo {
    width: 30%;
  }
  header .logo img {
    width: 100%;
  }
  header nav {
    width: 70%;
    text-align: end;
  }
  .intro {
    padding-top: 20px;
  }
  .intro .intro-content-title {
    font-size: 1.2rem;
  }
  .intro .intro-img img {
    width: 100%;
    user-select: none;
  }
  .intro p {
    font-size: .7.8rem;
  }
  .features-content {
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
  }
  .feature {
    width: 100%;
    text-transform: capitalize;
  }
  .feature img {
    width: 20%;
  }
}
@media screen  and (max-width:320px) {
  header .logo img {
    width: 90%;
  }
  header nav {
    width: 70%;
    text-align: end;
    font-size: .7rem;
    padding-top: 5px;
  }
}
